/* tag text styling */
#footer a {
	position: relative;
	text-decoration: none;
	color: black;
	z-index: 5;
}

/* tag underline styling, off hover */
#footer a:before {
	background-color: #70cdff;
	bottom: -6px;
	right: -4px;
	content: '';
	height: calc(100% - 4px);
	opacity: 0.2;
	position: absolute;
	transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
	width: 100%;
	z-index: -1;
}

/* tag underline styling, on hover */
#footer a:hover:before {
	bottom: -4px;
	height: 140%;
	opacity: 0.25;
	right: -5px;
	width: 120%;
}

/* hover styling, specific to email tag */
#footer .emailTo:hover:before {
	bottom: -4px;
	height: 140%;
	opacity: 0.25;
	right: -4px;
	width: 105%;
}

/* hover styling, specific to github tag */
#footer .github:before {
	background-color: #f4d35e;
}

#footer h4:hover {
	cursor: pointer;
}

#footer {
	background: #fbfbfb;
}

.footer-links {
	margin-top: 10rem;
	justify-content: space-between;
}

.github {
	margin-right: 1rem;
}
