.links {
	width: 125px;
	justify-content: space-between;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	max-width: 1200px;
	margin: auto;
	text-align: left;
	padding: 5rem 4rem;
}

.highlight {
	position: relative;
	text-decoration: none;
	color: black;
}

.highlight:before {
	background-color: #70cdff;
	bottom: -2px;
	right: -4px;
	content: '';
	height: calc(100% - 8px);
	opacity: 0.2;
	position: absolute;
	transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
	width: 100%;
	z-index: -1;
}

.highlight:hover:before {
	bottom: -4px;
	height: 140%;
	opacity: 0.25;
	right: -5px;
	width: 120%;
}

.highlight.github:before {
	background-color: #f4d35e;
}

/* mobile */
@media screen and (max-width: 700px) {
	nav {
		padding: 2rem 0rem;
	}
}
