a img {
	margin-bottom: 1rem;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.0125);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 4em;
}

.projects-description {
	margin: 0rem 0rem 6rem 0rem;
	max-width: 800px;
}

.githubLink {
	position: relative;
	text-decoration: none;
	color: black;
}

.githubLink:before {
	background-color: #f4d35e;
	bottom: -2px;
	right: -4px;
	content: '';
	height: calc(100% - 8px);
	opacity: 0.2;
	position: absolute;
	transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
	width: 100%;
	z-index: -1;
}

.githubLink:hover:before {
	bottom: -4px;
	height: 140%;
	opacity: 0.25;
	right: -5px;
	width: 120%;
}

/* mobile */
@media screen and (max-width: 700px) {
	.projects-description {
		margin: 0rem 0rem 2rem 0rem;
	}
}
