a img {
	margin-bottom: 1rem;
	box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.0125);
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 4em;
}

.projects-description {
	margin: 0rem 0rem 6rem 0rem;
	max-width: 800px;
}
