#stack-cntr {
	justify-content: space-between;
	align-items: flex-start;
}

.stack {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 0.8rem;
}

.stack-list {
	margin: 0rem 4rem 0rem 0rem;
}

/* mobile */
@media screen and (max-width: 700px) {
	.stack {
		flex-direction: column;
		height: 450px;
		justify-content: space-between;
	}
}
